openapi: 3.1.0
info:
  title: Media API
  description: |
    API for managing media assets used across recipes, help requests, user acknowledgments ("thanks"), and help articles.
    Supports uploading and downloading images, querying media linked to specific business objects, and deleting media assets.
    Note: Video media handling is reserved for a future release.
  version: 1.0.0
  contact:
    name: Annegret Junker
    email: annegret.junker@larder.org
  x-api-id: f81d4fae-7dec-11d0-a765-00a0c91e6bf6
  x-audience: company-internal

servers:
  - url: 'https://larder.org/media'

security:
  - oAuth2:
      - media:read
      - media:write
      - media:admin

tags:
  - name: Images
    description: Operations for managing image media assets and their business object associations

paths:
  /images:
    get:
      operationId: listImages
      tags:
        - Images
      summary: List images
      description: |
        Retrieve a collection of media assets. Results can optionally be filtered by an associated business object identifier and type.
      parameters:
        - $ref: '#/components/parameters/BusinessObjectIdParameter'
        - $ref: '#/components/parameters/BusinessObjectTypeParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/MediaListResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/ForbiddenResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'

    post:
      operationId: createImage
      tags:
        - Images
      summary: Upload a new image
      description: |
        Upload a new image media asset and associate it with business objects (e.g., recipes, help requests).
      security:
        - oAuth2:
            - media:write
      parameters:
        - $ref: '#/components/parameters/VersionParameter'
      requestBody:
        $ref: '#/components/requestBodies/ImageCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/ImageLinkResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/ForbiddenResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'

  /images/{mediaId}:
    get:
      operationId: getImageById
      tags:
        - Images
      summary: Get image by ID
      description: |
        Retrieve details and access links for a specific media image by its unique identifier.
      parameters:
        - $ref: '#/components/parameters/MediaIdParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '200':
          $ref: '#/components/responses/ImageResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/ForbiddenResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'

    delete:
      operationId: deleteImage
      tags:
        - Images
      summary: Delete image
      description: |
        Delete a media image by its unique identifier. This operation is irreversible and removes the media asset permanently.
      security:
        - oAuth2:
            - media:admin
      parameters:
        - $ref: '#/components/parameters/MediaIdParameter'
        - $ref: '#/components/parameters/VersionParameter'
      responses:
        '204':
          description: Image deleted successfully
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/ForbiddenResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ServiceNotAvailableResponse'

components:
  parameters:
    MediaIdParameter:
      name: mediaId
      in: path
      required: true
      schema:
        type: string
        format: uuid

    BusinessObjectIdParameter:
      name: businessObjectId
      in: query
      required: false
      schema:
        type: string
        format: uuid

    BusinessObjectTypeParameter:
      name: businessObjectType
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/BusinessObjectType'

    VersionParameter:
      name: version
      in: header
      required: true
      schema:
        type: string
        default: "1.0.0"
        enum: ["1.0.0"]

  schemas:
    BusinessObjectType:
      description: Domain entity type associated with a media asset.
      type: string
      enum:
        - RECIPE
        - THANKS
        - HELP_REQUEST
        - HELP

    MediaLink:
      type: object
      required:
        - type
        - url
      properties:
        type:
          description: Business domain object type linked to this media asset.
          $ref: '#/components/schemas/BusinessObjectType'
        url:
          description: Target URI of the associated business domain resource.
          type: string
          format: uri
          example: 'https://larder.org/recipe-catalog/recipes/7cf09822-77a1-46bb-812f-b7852bca0913'

    Media:
      type: object
      required:
        - mediaId
        - mediaUrl
      properties:
        mediaId:
          description: Unique identifier of the media asset, generated by the server.
          type: string
          format: uuid
          example: 'f0c03819-b2ac-4488-8e2c-b34d2dada0a5'
        mediaUrl:
          description: Direct URI to retrieve or download the media asset file.
          type: string
          format: uri
        contentType:
          description: MIME media type of the stored image asset.
          type: string
          example: 'image/jpeg'
        links:
          description: List of business objects associated with this media asset.
          type: array
          items:
            $ref: '#/components/schemas/MediaLink'
          minItems: 0
          maxItems: 50
        createdAt:
          description: Timestamp when the media asset was created, set by the server.
          type: string
          format: date-time
        updatedAt:
          description: Timestamp of the last update to the media asset, set by the server.
          type: string
          format: date-time

    ImageCreate:
      type: object
      required:
        - mediaContent
      properties:
        mediaContent:
          description: Base64-encoded binary content of the image file.
          type: string
          contentEncoding: base64
        contentType:
          description: MIME media type of the uploaded image file.
          type: string
          example: 'image/jpeg'
        links:
          description: Optional list of business object links to associate with this image upon upload.
          type: array
          items:
            $ref: '#/components/schemas/MediaLink'
          minItems: 0
          maxItems: 50

    ImageLink:
      type: object
      required:
        - mediaId
        - imageLink
      properties:
        mediaId:
          description: Unique identifier of the newly created image media asset.
          type: string
          format: uuid
          example: 'f0c03819-b2ac-4488-8e2c-b34d2dada0a5'
        imageLink:
          description: Direct URI link to access the newly created image asset.
          type: string
          format: uri
          example: 'https://larder.org/media/images/f0c03819-b2ac-4488-8e2c-b34d2dada0a5'

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          description: Machine-readable error code.
          type: string
        message:
          description: Human-readable explanation of the error.
          type: string
        details:
          description: Additional error details or field validation failure context.
          type: object

  responses:
    MediaListResponse:
      description: List of media assets response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Media'

    ImageResponse:
      description: Single media image response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Media'

    ImageLinkResponse:
      description: Link to created image response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ImageLink'

    BadRequestResponse:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFoundResponse:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ForbiddenResponse:
      description: Access forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ServiceNotAvailableResponse:
      description: Service unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  requestBodies:
    ImageCreateRequest:
      description: Image upload creation payload
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ImageCreate'

  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Flow with PKCE
      flows:
        authorizationCode:
          authorizationUrl: https://larder.org/auth
          tokenUrl: https://larder.org/tokens
          refreshUrl: https://larder.org/refresh
          scopes:
            media:read: Grants read access to media resources
            media:write: Grants write access to upload or modify media resources
            media:admin: Grants administrative access to delete media resources